.detail-container {
    height: 100%;
    width: 70%;
}

.detail-movie {
    height: 100%;
    display: flex;
    align-items: center;
}

.detail-movie img {
    max-width: 300px;
    margin: 0px 50px;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail-movie__data {
    margin: 0px 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    color: #7f808e;
}

.detail-movie__data ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.detail-movie__data li {
    margin-right: 10px;
}
