.nav {
    position: fixed;
    background-color: white;
    color: #fff;
    border-radius: 15px;
    padding: 5px;
    margin-top: 8px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.nav a:hover {
    color: #056bf1e7;
}
